@import url(https://fonts.googleapis.com/css?family=Cinzel:700);

/*
Author: Nikkala Thomson
*/

/* New styling specific to boardgames site */

select {
    color: black;
}

/* Full-width input fields */
input[type=text],
input[type=password],
input[type=email] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
    color: black;
}

input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus {
    outline: none;
}

/* Set a style for the submit button */
.submit_btn {
    background-color: #FCD116;
    color: #1b1464;
    font-size: 20px;
    font-weight: bold;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

.submit_btn:hover {
    opacity: 1;
}

.label_long {
    width: 300px;
    text-align: left;
    color: #FCD116;
    padding-left: 10px;
}


/****** General Styles *********/


/* remove default margins and padding and standardize block sizes */

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    background-image: url("images/diagmonds-blue.png");
    color: #ffffff;
    min-width: 1080px;
    margin: auto;
    overflow-y: scroll;
    overflow-x: hidden;
    margin-left: -100px;
}

h1,
h2,
h3,
h4 {
    font-family: 'Cinzel', serif;
    font-weight: 700;
    color: #FCD116;
}

h1 {
    font-size: 3.5em;
}

h2 {
    font-size: 2.2em;
    padding-top: 4px;
    padding-bottom: 10px;
}

h3 {
    font-size: 1.3em;
    margin-top: 10px;
}

p {
    font-size: 1.2em;
}

li {
    list-style-position: inside;
}

ol {
    padding-left: 2em;
    text-indent: -2.3em;
    padding-bottom: 15px;
}

ol li {
    padding: 5px;
}

.bold {
    font-weight: bold;
}

.center-block {
    margin: auto;
    min-width: 960px;
    max-width: 1060px;
    text-align: right;
}

.center-block img {}

.center-general {
    margin: auto;
}

.flex {
    display: flex;
    display: -webkit-flex;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
}

.big {
    font-size: 2em;
}

.med {
    font-size: 1.3em;
}

.med-small {
    font-size: 0.9em;
}

.med-med-small {
    font-size: 0.8em;
}

.small {
    font-size: 0.6em;
}

.align-right {
    text-align: right;
}

.align-left {
    text-align: left;
}

.align-center {
    text-align: center;
}

.align-middle {
    vertical-align: middle;
}

.float-right {
    float: right;
    margin-left: 20px;
}

.float-left {
    float: left;
    margin-right: 20px;
}

/* general link styles */

a {
    text-decoration: none;
}

/**** Order is link, visited, hover, active (remember with love/hate) *****/

a:link {
    text-decoration: none;
    color: #fcd116;
    font-weight: bold;
}

a:visited {
    text-decoration: none;
    color: #fcd116;
}

a:hover {
    color: #ffffff;
}

a:active {
    color: #fcd116;
}


/******* Header Styles ********/

header {
    margin-top: 60px;
    margin-bottom: 50px;
}

#header-band {
    background-color: #1b1464;
    height: 108px;


}

#header-text {
    text-align: right;
    max-width: 1060px;
    margin-top: -105px;
}

header p {
    color: #ffffff;
    font-size: 1.2em;
    font-weight: bold;
    margin-top: -8px;
}


/* horizontal logo positioning */

#logo {
    width: 1040px;
    text-align: left;
}

/* vertical logo positioning */

header img {
    position: absolute;
    margin-top: -148px;
}

/********* Navigation *********/

nav {
    position: fixed;
    top: 295px;
    margin-left: 80px;
    z-index: 100;
}

nav ul {
    list-style-type: none;
    margin-left: 30px;
    width: 150px;
}

nav li {
    background-color: #fcd116;
    text-align: left;
    margin: 10px 0 0 0;
}

nav a {
    display: block;
    padding: 10px 0 10px 30px;
    font-weight: bold;
    font-size: 1.2em;
}

#active-nav {
    font-size: 1.2em;
    position: relative;
}

#active-nav-secondary {
    font-size: 1.2em;
    position: relative;
}

#active-nav img {
    position: absolute;
    right: -40px;
    bottom: 0px;
}

#active-nav a:hover,
#active-nav a:active {
    background-color: #fcd116;
    cursor: default;
}

#active-nav-secondary {
    font-size: 1.2em;
    position: relative;
}

#active-nav-secondary img {
    position: absolute;
    right: -40px;
    bottom: 0px;
}

#active-nav-secondary a:hover #yellow {
    visibility: hidden;
}

#white {
    visibility: hidden;
}

#active-nav-secondary a:hover #white {
    visibility: visible;
}

/**** Order is link, visited, hover, active (remember with love/hate) *****/

nav a:link {
    text-decoration: none;
    color: #003f87;
}

nav a:visited {
    text-decoration: none;
    color: #003f87;
}

nav a:hover {
    background-color: #ffffff;

}

nav a:active {
    color: #fcd116;
}

/*********** Main Style *********/

main {
    text-align: center;
}

blockquote {
    font-style: italic;
}

section {
    background-color: #1b1464;
    width: 380px;
    display: inline-block;
    margin-top: 20px;
    text-align: left;
    vertical-align: top;
    margin-left: 21px;
    margin-bottom: 20px;
    padding: 10px 20px 25px 30px;
}

.second-section {
    margin-top: 3px;
}

.wide-section {
    width: 780px;
    margin-left: 280px;
    padding-left: 50px;
    margin-top: 0px;
}

.med-wide-section {
    width: 560px;

}

section ul li {
    font-size: 1.1em;
    list-style-type: square;
    margin-top: 5px;
}

#insignia {
    height: 98px;
    padding-left: 10px;
    padding-top: 15px;
}

#varsity ul {
    margin-top: 15px;
}

#varsity ul li {
    padding: 5px;

}

/** triangle navigation styling  */

.triangle-text-top {
    text-align: center;
    width: 300px;
    display: inline-block;
    position: relative;
    top: -30px;
    right: 350px;
    font-size: 1.3em;
}

.triangle-text-bottom-left {
    text-align: center;
    width: 300px;
    display: inline-block;
    position: relative;
    top: -55px;
    right: 130px;
    font-size: 1.3em;
}

.triangle-text-bottom-right {
    text-align: center;
    width: 300px;
    display: inline-block;
    position: relative;
    top: -55px;
    right: 45px;
    font-size: 1.3em;
}

/* image styling */

.image-right {
    background-color: transparent;
    margin-left: 20px;
    padding: 0px;
    display: inline-block;
    margin-top: 20px;

}

.image-left {
    background-color: transparent;
    text-align: right;
    padding: 0px 20px 0px 20px;
    margin-left: -20px;
    display: inline-block;
}



#text-image {
    padding: 0;
}

#text-image h2 {
    padding: 10px;
}

#arrow-right {
    padding-left: 20px;
    position: relative;
    top: 15px;

}




/* contact form styling */

#contact-form {
    background-color: #1b1464;
    width: 380px;
    display: inline-block;
    margin-top: 20px;
    text-align: left;
    vertical-align: top;
    margin-left: 21px;
    margin-bottom: 20px;
    padding: 10px 20px 25px 30px;
}

fieldset {
    color: #FCD116;
    padding: 1em;
    margin-left: -8px;
}

legend {
    font-size: 1.8em;

    padding-left: 10px;
    padding-right: 10px;
    font-family: 'Cinzel', serif;
}

input {
    padding: 5px;
    font-size: 1.2em;
    margin: 5px;
}



label {
    font-size: 1.3em;
    padding-left: 40px;
    width: 100px;
    display: inline-block;
    text-align: right;
}

input[type="email"],
input[type="text"] {
    /*  width: 150px; */
}

input[type="submit"] {
    cursor: pointer;
}

#submit {
    padding: 5px;
    margin-top: 20px;
    margin-left: 110px;
    margin-bottom: 20px;
    background-color: #fcda44;
    color: #1b1464;
    font-size: 1.2em;
    width: 150px;
}

/******* Footer Style ***********/
footer {
    margin-bottom: 20px;
}

hr {
    color: #ffffff;
    height: 1px;
    width: 780px;
    float: right;
    margin-bottom: 10px;
    margin-top: 4px;
}


footer ul {
    position: relative;
    left: 113px;
    list-style-type: none;
    font-size: 0.9em;
    padding-top: 16px;
}

footer li {
    display: inline;
    margin-left: 25px;

}

footer a:link {
    font-weight: normal;

}
